.window-period-container {
    @apply flex flex-col items-center gap-[var(--cosmos-spacing-x-tight,8px)];

    .window-period-status-copy {}

    &.open {
        .window-period-status-copy {
            --cosmos-title-color: #159d48;
        }
    }

    &.two-days {
        .window-period-status-copy {
            --cosmos-title-color: #f2940a;
        }
    }

    &.one-day {
        .window-period-status-copy {
            --cosmos-title-color: #fad50a;
        }
    }

    &.one-day {
        .window-period-status-copy {
            --cosmos-title-color: rgb(10, 134, 203);
        }
    }

    &.hold {
        .window-period-status-copy {
            --cosmos-title-color: rgb(219, 10, 64);
        }
    }

    .window-period-icon-container {
        @apply flex ;
        justify-content: center;
        padding-bottom: 16px;
        height: 80px;

        .status-icon {
            width: 100%;
            height: 100%;
            color: white;
        }
    }
}