.historic-weather-container {
    @apply bg-[var(--cosmos-color-surface-glass-light-5,rgba(255,255,255,0.05))];
    @apply rounded-[var(--cosmos-radius-large,8px)];
    @apply w-full h-full;

    /*@apply p-[var(--cosmos-spacing-xx-loose,40px)];*/

}

.tooltip-container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0.0px 8.0px 12.0px 0px rgba(0, 15, 30, 0.04), 0.0px 2.0px 4.0px 0px rgba(0, 15, 30, 0.02);
    padding: 4px 8px;

    .tooltip-data-row {
        @apply grid grid-cols-2 gap-[var(--cosmos-spacing-x-tight,10px)];
    }
}
